
.blogcontent {
    max-width: 1000px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-blog {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
