.cart {
    margin-top: 60px;
}

.card-img-top {
    object-fit: contain;
}

.dropdown-menu > li > a {
    color: #000 !important;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}
